<div class="row">
  <center>
    <div class="week-detail">
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>
      <%= react_component('Day', { data: @Days },{:style => "display:inline-block;height:90%;width:12%;margin-left:5px;border:2px solid black;border-radius:5px"}  )%>

     <!--  <%= react_component 'Days', { data: @Days } %>
      <%= react_component 'Days', { data: @Days } %>
      <%= react_component 'Days', { data: @Days } %>
      <%= react_component 'Days', { data: @Days } %>
      <%= react_component 'Days', { data: @Days } %>
      <%= react_component 'Days', { data: @Days } %> -->
    </div>
  </center>
</div>

display: inline-block;
  height:90%;
  width: 12%;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 5px;
  float: left;